/* Copyright 2014 */
/* Author: YangXinXin */
@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #666666;
	background-color: #FFFFFF;
}

/* 超链接样式 */
a {
	text-decoration: none;
	color: #666666;
}

/* 红色字体 */
.red {
	color: #FF0000;
	font-weight: bold;
} 
#tips {
	color: #FF0000;
	padding-left: 20px;
}

/* 后台管理DIV中的所有内容 */
div#content {
	padding: 8px 8px 0 15px;
}

/* 新建样式 */
div#new {
	line-height: 24px;
	padding-bottom: 4px;
}

div#header {
	color: #FFFFFF;
	line-height: 26px;
	background-color: #307ECC;
	margin-bottom: 5px;
}

/* 超链接按钮样式 */
.button {
	font-size: 12px;
	padding: 4px 10px 8px 28px;
	color: #FFFFFF;
}
/* 文本输入框的样式 */
.input {
	width: 300px;
	color: #797979;
	border: 1px solid #B9BDC1;
	font-family: Arial, Verdana;
	padding: 5px;
}
/* 下拉框样式 */
.selectStyle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #797979;
    height: 28px;
    line-height: 18px;
    padding: 5px;
    position: relative;
    top: 2px;
    width: 310px;
    border: 1px solid #B9BDC1;
}

.label, div#operation {
	padding: 15px 0 2px 0;
}

/* 按钮前的小图标 */
.icon_add {
	background: url("../images/icon_add.png") no-repeat 9px 5px #2283C5;
}
.icon_query {
	background: url("../images/icon_query.png") no-repeat 9px 5px #2283C5;
}
.icon_save {
	background: url("../images/icon_save.png") no-repeat 9px 4px #2283C5;
}
.icon_return {
	background: url("../images/icon_return.png") no-repeat 9px 4px #2283C5;
}
.icon_flag {
	padding: 4px 10px 4px 28px;
	background: url("../images/icon_flag.png") no-repeat 9px 5px #2283C5;
}
.icon_add, .icon_query, .icon_save, .icon_return {
	padding-bottom: 3px;
}

/* 表格样式 */
#classTable {
	text-align: center;
	border: 1px solid #E9E9E9;
	border-spacing: 0;
	border-collapse: collapse;
}
/* 表格头部的背景样式 */
#thead td {
	background: linear-gradient(to bottom, #F8F8F8, #ECECEC) repeat-x scroll 0 0 #F3F3F3;
	font-weight: bold;
	height: 30px;
}
/* 设置表格中tr的高度 */
#classTable tr {
	height: 26px;
}
/* 设置表格中td的边框 */
#classTable td {
	border: 1px solid #DDDDDD;
}
/* 设置表格中所有a标签的超连接样式 */
#classTable a {
	color: #0000FF;
	text-decoration: underline;
}


/* 分页样式 */
div#pageNav {
	font-size: 13px;
}
/* 分页DIV中的超连接a样式 */
div#pageNav a {
	display: inline-block;
	width: 19px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	color: #58595B;
	background-color: #F0F0F0;
}
/* 鼠标移上分页时的样式  */
div#pageNav a:hover {
	color: #FF0000;
	text-decoration: none;
}
/* 当前激活页的样式  */
div#pageNav a.active {
	color: #FFFFFF;
	background-color: #2283C5;
}
/* 两边尖头的样式 */
div#pageNav a.arrow {
	font-family: SimSun, Arial;
	font-weight: bold;
}
